body {
  width: 100vw;
  min-height: 100vh;
}

.search-form {
  display: flex;
}

.search-form button {
  margin-left: 10px;
}

.search-results-ul {
  padding-left: 0;
}

.search-results-ul li {
  list-style-type: none;
}