body {
  min-height: 100vh;
}

.search-form {
  display: flex;
}

.search-form button {
  margin-left: 10px;
}

.search-results-ul,
.recommendations-ul {
  padding-left: 0;
}

.search-results-ul li {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

.selected-track p {
  display: inline-block;
}

.recommendations-ul li {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.search-results-ul li p {
  margin: 0;
}

/* recommendations section */
